.agnostic {
  font-family: Agnostic;
}

.b {
  font-family: Rolasand;
}

.c {
  font-family: Wondershine;
}

.d {
  font-family: Northwell;
}

.e {
  font-family: Stagera;
}

.f {
  font-family: Bengittan;
}

.years:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out; /* Adds a smooth transition effect */
  cursor: pointer;
}
.edu{
  filter:drop-shadow(0 0 0.75rem #FF0000);
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #FF3131,
    0 0 10px #FF3131,
    0 0 20px #FF3131,
    0 0 40px #FF3131,
    0 0 80px #FF3131,
    0 0 90px #FF3131,
    0 0 100px #FF3131,
    0 0 150px #FF3131;
}

.black_grad{
  background: linear-gradient(45deg, #000000, #222222, #333333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

