@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Agnostic;
  src: url(./font/Agnostic.otf);
}
@font-face {
  font-family: Rolasand;
  src: url(./font/Rolasand.ttf);
}
@font-face {
  font-family: Wondershine;
  src: url(./font/Wondershine.otf);
}
@font-face {
  font-family: Northwell;
  src: url(./font/NorthwellAlt.ttf);
}
@font-face {
  font-family: Bengittan;
  src: url(./font/Bengittan.otf);
}
@font-face {
  font-family: Stagera;
  src: url(./font/Stagera.otf);
}
